.header{
    background-color:black;
    line-height:40px;
    
}
nav a{
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    color:#fff;
}

nav a:hover{
    background-color:lightgray;
}