.nike-bg-info{
    background-color: #FFF9F4;

}

.nike-text-primary{
    color:#FA804C;
    font-size:70px;font-weight:700;
}
.nike-text-secondery{
    color:#363958;
    font-size:70px;font-weight:700;
}
.nike-product-bg{
    background-color:#F1F1F1

}

.nike-price-primary{
    color:#FA804C;
    font-weight:700;
}

.bg-formal-shoe{
    background-color:#FFFFFF;
}

