.logo-text{
    font-weight: 700;
    font-size:72px;
}

header{
    background-color: #82bac2;
    color:whitesmoke;
}

.navCustom{
    background-color:#1D8AC4;

}

li{
    border-right:1px solid black;
    border-left:1px solid black;
}
li:hover{
    background-color:gray;
    color: green ;
}
 a{
    text-decoration: none;
    color:white !important;
    font-weight: 700;

}
nav a:hover{
    color:green !important;
}

.fab{
    text-decoration: none;
    color:black;
}
.fa-facebook:hover{
    color:blue;
}
.fa-instagram:hover{
    color:red;
}
.fa-twitter:hover{
    color:deepskyblue;
}